<% layout("/Layouts/boilerplate") %>    
    <div class="row">
        <div class=" col-8 offset-2">
          <br>
          <br>
          <h2>Edit Listing</h2>
          <form method="post" action="/listings/<%= listing.id %>?_method=PUT">
            <div>
              <label for="title" class="form-label">Title</label>
              <input
              value="<%= listing.title %>"
                type="text"
                placeholder="Enter title"
                name="listing[title]"
                class="form-control" ><br /><br />
            </div>
      
            <div>
              <label for="description" class="form-label">Description</label>
              <textarea
                name="listing[description]"
                class="form-control"
                id=""
              ><%= listing.description %></textarea
              ><br /><br />
            </div>
      
            <div>
              <label for="image" class="form-label">Insert image</label>
              <input
                type="text"
                placeholder="Insert image"
                class="form-control"
                name="listing[image]"
              />
              <br /><br />
            </div>
      
            <div class="row">
                <div class="col-md-4">
                  <label for="price" class="form-label">Price</label>
                  <input
                  value="<%= listing.price %>"
                    type="number"
                    name="listing[price]"
                    class="form-control"
                    placeholder="15,000"
                  /><br /><br />
                </div>
          
                <div class="col-md-8">
                  <label for="location" class="form-label">Location</label>
                  <input    
                  value="<%= listing.location %>"
                    class="form-control"
                    type="text"
                    name="listing[lcation]"
                    placeholder="Enter location"
                  /><br /><br />
                </div>
            </div>
      
            <div class="mb-3">
              <label for="country" class="form-label">Country</label>
              <input
              value="<%= listing.country %>"
                type="text"
                class="form-control"
                name="listing[country]"
                placeholder="India"
              /><br />
            </div>
            <button type="submit" class="btn btn-dark">Edit</button>
          </form><br>
        </div>
      </div>
      